.single__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  height: 400px;
  background-color: white;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.1s ease-in;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.single__row img {
  height: 280px; /* Adjust the desired height */
  width: auto;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  object-fit: contain;
}
.rowSingle__tittle{
  text-align: left;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-right: 50px;
}
/* .bottom__link {
     text-decoration: none;
    text-align: left;
  padding-top: 20px;
	color: rgb(31, 181, 201);
	font-weight: 500;
    
} */
.bottom__link:hover {
  color: rgb(216, 38, 38);
   text-decoration: underline;

}
.single__description{
  flex: 1; 
  font-size: 14px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  /* padding-left: 15px; */
}
.bottom__link  {
 text-decoration: none;
    text-align: left;
	padding-right: 100px;
  padding-top: 20px;
	color: rgb(31, 181, 201);
	font-weight: 500;
    flex: 1; 
  font-size: 14px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}




