.row__single {
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  background-color: white;
  position: relative;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.imag__container > img {
  max-height:400px; 
  object-fit: contain;
  width: 100%;
  margin-top: 20px;

}


.row__single:hover {
    transform: scale(1.05);
}
.link__single {
    text-decoration: none; 
    color: black;
    text-align: left; 
    padding-right: 120px;
    font-size: 13px;
}
.bottom__link{
    text-decoration: none;

    text-align: left;
    color: rgb(10, 125, 141);
    font-weight: 500;
    margin: 100px;
   
}
.single__description {
 padding-top: 0px;
}
/* .link__single {
    padding-top: 120px;
} */
.single__tittle{
    padding-top: 10px;
    padding-bottom: 20px;
}
.imag__container{
 max-height: 200px;
}



